@import url(./global.css);

body {
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
}

p {
  color: var(--normal-gray);
}

.right-container .btn-back {
  display: none;
  width: 4rem;
  height: 2rem;
  margin-top: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.left-container {
  width: 60%;
}

.right-container {
  width: 40%;
}

@media only screen and (max-width: 699px) {
  .left-container:not(.active),
  .right-container:not(.active) {
    display: none;
  }

  .right-container.active,
  .left-container.active {
    width: 100%;
  }
  .right-container .btn-back {
    display: flex;
  }
}
