.counter {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: .2rem;
  margin-left: .2rem;
  background-color: var(--dark-purple);
  color: var(--light-dark);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
