.detail, .detail .content-img {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    flex-direction: column;
}

.detail .content-img {
    width: 100%;
    height: 15rem;
    position: relative;
}

.detail .content-img img {
    width: 15rem;
    height: auto;
}

.detail .content-img .counter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .5rem;
}

.detail .amount button {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-right: .1rem;
    cursor: pointer;
}

.detail .amount button.btn-decrease {
    background-color: #e4e0e0;
    border: none;
}

.detail .amount button.btn-decrease:hover {
    background-color: #ebe8e8;
}

.detail .amount button.btn-decrease:active {
    background-color: #cfcdcd;
}

.detail .amount button.btn-increase {
    background-color: purple;
    color: white;
    border: none;
}

.detail .amount button.btn-increase:hover {
    background-color: #a321a3;
}

.detail .amount button.btn-increase:active {
    background-color: #fdbafd;
    color: #800080;
}

.detail .amount .name {
    font-weight: bold;
}

.detail .description {
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
}