.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    background-color: var(--dark-purple);
    color: var(--light-white);
    font-size: var(--icon-xxl);
}