.message {
  background: var(--color-mask);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message .content {
  height: 12rem;
  width: 80%;
  background-color: var(--light-dark);
  border: 2px solid var(--dark-purple);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message .content p {
  color: var(--normal-black);
  text-align: center;
}

.message .content h2 {
  margin: 0;
  text-align: center;
}

.message .content.error h2 {
  color: var(--color-error);
}

.message .content.success h2 {
  color: var(--color-success);
}

.message .content button {
  width: 5rem;
  height: 1.5rem;
  font-size: var(--font-size-s);
  margin-right: 0.1rem;
  cursor: pointer;
  background-color: var(--dark-purple);
  color: var(--light-dark);
  border: none;
}

.message .content button:hover {
  background-color: var(--normal-purple);
}

.message .content button:active {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}