.product {
  width: 8rem;
  height: fit-content;
  border: 1px solid var(--normal-gray);
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.product.product-selected {
  border: 1px solidvar(--dark-purple);
  box-shadow: #e930e9 0px 5px 15px;
}

.product:hover {
  opacity: 0.5;
}

.product:active {
  opacity: 0.2;
}

.product img {
  width: 8rem;
}
