.detail,
.detail .content-img {
  margin-top: 0.5rem;
  display: flex;
}

.detail {
  flex-direction: column;
}

.detail .content-img {
  width: 100%;
  height: 20rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

.detail .content-img img {
  width: auto;
  height: 20rem;
}

.detail .amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.detail .amount button {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  margin-right: 0.1rem;
  cursor: pointer;
}

.detail .amount button[disabled] {
  cursor: default;
}

.detail .amount button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.detail .amount button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.detail .amount button.btn-increase[disabled]:hover,
.detail .amount button.btn-increase[disabled]:active {
  background-color: purple;
  color: white;
}

.detail .amount button.btn-decrease[disabled]:hover,
.detail .amount button.btn-decrease[disabled]:active {
  background-color: #e4e0e0;
}

.detail .amount button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.detail .amount .info > span {
  margin-right: 0.5rem;
}

.detail .amount .info > span.price {
  color: purple;
  font-weight: bolder;
}

.detail .amount .info > span.separator {
  color: gray;
}

.detail .amount button.btn-decrease {
  background-color: #e4e0e0;
  border: none;
}

.detail .amount button.btn-decrease:hover {
  background-color: #ebe8e8;
}

.detail .amount button.btn-decrease:active {
  background-color: #cfcdcd;
}

.detail .amount button.btn-increase {
  background-color: purple;
  color: white;
  border: none;
}

.detail .amount button.btn-increase:hover {
  background-color: #a321a3;
}

.detail .amount button.btn-increase:active {
  background-color: #fdbafd;
  color: #800080;
}

.detail .amount .name {
  font-weight: bold;
}

.detail .description {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}
