.shopping-cart {
  background-color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  min-width: 3rem;
  color:var(--light-dark);
  cursor: pointer;
}

.shopping-cart .total {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.shopping-cart .total > span {
  margin-left: 0.5rem;
}

.shopping-cart:hover {
  background-color: var(--normal-purple);
}

.shopping-cart .total.active,
.shopping-cart:active {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

.shopping-cart .close {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
