.totalizer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.totalizer .label {
  color: var(--normal-gray);
}

.totalizer .price {
  margin-left: 0.5rem;
  color:var(--dark-purple);
}
