.totalizer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.totalizer .label {
  color: #a0a0a0;
}

.totalizer .price {
  margin-left: 0.5rem;
  color: purple;
}
